.main{
    display: grid;
    place-content: center;
    background-color: #242424;
    min-height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2a2a2a;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.15s ease;
}